@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "variables";

@import "layout";
@import "navbar";

p {
	text-align: justify;
  	text-justify: inter-word;
}

a {
	text-decoration: none;
}
